<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
  <meta charset="utf-8">
  <title>ОсОО "ГеФС"</title>
  <meta name="description" content="Welcome to my basic template.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static "css/style.css" %}">




<div class="jumbotron" id="jumb-car">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" ></li>
    <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="2" ></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item ">
      <img src="{% static "img/header.jpg" %}"  alt="Header">
      <div class="carousel-caption">
    <h1 class="text-right" id="main">Добро пожаловать на наш официальный сайт</h1>
    <h3 class="text-right" id="ocoo"><em>ОсОО ГеФС</em></h3>
    </div>
    </div>

    <div class="item active">
      <img src="{% static "img/geo.jpg" %}" alt="Geo">
      <div class="carousel-caption">
    <h1 class="text-right" id="main">Геофизическое оборудование</h1>
    </div>
    </div>

    <div class="item ">
      <img src="{% static "img/elect3.jpg" %}"  alt="Electronic">
      <div class="carousel-caption">
    <h1 class="text-right" id="main">Электроника и комплектующие</h1>
    </div>
    </div>

    <div class="item">
      <img src="{% static "img/metal.jpg" %}"  alt="Metal">
      <div class="carousel-caption">
    <h1 class="text-right" id="main"><em>Услуги по металлообработке</em></h1>
    </div>
    </div>
</div>


  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
</head>

<div class="container" id="main-navbar">
<div class="row">
<div class="col-md-3">
<a href="#" class="hvr-float-shadow"><img src="{% static 'img/geo-pics/electronic_geo.png' %}" style="height:100px; width: auto;"></a>
</div>
<div class="col-md-3">
<a href="{% url 'geo.views.geo_base' %}" class="hvr-float-shadow"><img src="{% static 'img/geo-pics/geo_geo.png' %}" style="height:100px; width: auto;"></a>
</div>
<div class="col-md-3">
<a href="{% url 'metal.views.metal_base' %}" class="hvr-float-shadow"><img src="{% static 'img/geo-pics/metal_geo.png' %}" style="height:100px; width: auto;"></a>
</div>
<div class="col-md-3">
<a href="#" class="hvr-float-shadow"><img src="{% static 'img/geo-pics/junk_geo.png' %}" style="height:100px; width: auto;"></a>
</div>
</div>
</div>
<nav class="navbar navbar-default ">
  <div class="container-fluid" >
    <ul class="nav navbar-nav navbar-right" id="nav_geo" >
    <li> <a href="#" class="navbar-brand active" ><span class="glyphicon glyphicon-home"></span></a></li>
      <li ><a href="#">О компании</a></li>
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <span class="glyphicon glyphicon-book"></span> Галерея<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#"><span class="glyphicon glyphicon-camera"></span> Фото галерея</a></li>
          <li><a href="#"> <span class="glyphicon glyphicon-film"></span> Видео галерея</a></li>
        </ul>
        </li>
    </ul>
  </div>
</nav>
</header>
</section>
<body>
<section id="body" style="background:url('{% static 'img/geo-pics/geo-back-green.png' %}'); -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;" >
  <div class = "container-fluid " >
  <div class="row" >
  <div class="col-md-10"  >
  {% block content %}
    {% endblock %}
    </div>
    <div class="col-md-2">
      <p>Filter</p>
    </div>
    </div>
</section>
<footer class="jumbotron" style="background:url('{% static 'img/geo-pics/geo-back-green.png' %}'); -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;" id="foot-el" >
<div class = "container-fluid" id="footer-container">
<div class = "row">
<div class="col-md-4">
<ul>
  <li>Наш адрес : </li>
  <ul>Можете связаться с  нами по указанным телефонам: <ul>
    <li>0312 881164</li>
    <li>0556 432393</li>
    <li>0772 191286</li>
    </ul>
  <li>Наш e-mail: <a href="https://my.mail.ru/mail/gefs-kg/"> GEFS-KG@mail.ru</a></li>
</ul>
</div>
<div class="col-md-4">
<ul>
  <li>Наши партнеры</li>
  <li>Получить консультацию</li>
</ul>
</div>
<div class="col-md-4">
<p>Также можете найти нас на: </p>
<div class="container" id="footer_icons">
  <a href="#" ><img src="{% static 'img/geo-pics/facebook_icon_geo.png' %}"></a>
  <a href="#" ><img src="{% static 'img/geo-pics/gmail_icon_geo.png' %}"></a>
    <a href="#" ><img src="{% static 'img/geo-pics/mail_icon_geo.png' %}"></a>
      <a href="#" ><img src="{% static 'img/geo-pics/youtube_icon_geo.png' %}"></a>
</div>
</div>
</div>
</div>
</footer>
</html>
