{%  extends "metal/metal_base.html" %}
{% load staticfiles %}
{% block content %}
<div class="container-fluid" id="met_service">
<div class="col-md-4">
  <div style=" background:url('{% static 'img/metal-pics/cat_back.png' %}')">
  <a href=""><img src="{% static 'img/metal-pics/mech.png' %}"  ></a>
  <p>Осуществляем механо сборочные работы</p>
  </div>
</div>
<div class="col-md-4">
  <div  style="background:url('{% static 'img/metal-pics/cat_back.png' %}') ">
  <a href=""><img src="{% static 'img/metal-pics/frezer.png' %}" ></a>
  <p>Выполняем фрезерные работы</p>
  </div>
</div>
<div class="col-md-4">
  <div  style="background:url('{% static 'img/metal-pics/cat_back.png' %}')">
  <a href=""><img src="{% static 'img/metal-pics/shlif.png' %}"></a>
  <p>Выполняем шлифовальные работы</p>
  </div>
</div>
</div>
<div class="container-fluid" id="met_service2">
<div class="col-md-4">
  <div style="background:url('{% static 'img/metal-pics/cat_back.png' %}')">
  <a href=""><img src="{% static 'img/metal-pics/swap.png' %}"></a>
  <p>Выполним свапочные работы</p>
  </div>
</div>
<div class="col-md-4">
  <div  style="background:url('{% static 'img/metal-pics/cat_back.png' %}')">
  <a href=""><img src="{% static 'img/metal-pics/tokar.png' %}"></a>
  <p>Выполним токарные работы любой сложности</p>
  </div>
</div>
</div>
    {% endblock %}